doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= 'Adicionar Terminais'
        link(rel="stylesheet" href="http://yegor256.github.io/tacit/tacit.min.css")
    body
        section
            article Terminal(is) adicionado(s):
                table
                    thead
                        tr
                            th=	'Terminal'
                            th=	'Cassete A'
                            th=	'Cassete B'
                            th=	'Cassete C'
                            th=	'Cassete D'
                    tbody
                        - var termlist = [[70000, 100, 200, 500, 0], [70001, 200, 100, 200, 200]]
                        - for (let i=0; i<termlist.length; i++){
                            - var term = termlist[i];
                            tr
                                - for (let j=0; j<term.length; j++){
                                    th= term[j]
                                - }
                        - }
                form(action="http://127.0.0.1:8081/" method="POST")
                    p Adicionar:
                    input(type="text" name="addtaa")
                    input(type="submit" value="Adicionar")
//                            tr
//                                th= term
//                                th= notaa
//                                th= notab
//                                th= notac
//                                th= notad
